# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, 4, size = 100))
s2 = pd.Series(np.random.randint(1,3, size = 100))
s3 = pd.Series(np.random.randint(10000, 30000, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([s1,s2,s3], axis = 1)
df.head()

   0  1      2
0  3  1  23516
1  1  2  24391
2  3  1  13456
3  2  2  11376
4  3  2  20714

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df.rename(columns = {0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'}, inplace = True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [6]:
pd.concat([df.bedrs, df.bathrs, df.price_sqr_meter])

0         3
1         1
2         3
3         2
4         3
5         2
6         3
7         3
8         2
9         1
10        1
11        1
12        1
13        2
14        3
15        3
16        3
17        1
18        2
19        3
20        1
21        2
22        2
23        1
24        1
25        2
26        3
27        3
28        3
29        3
      ...
70    18144
71    27660
72    21769
73    21698
74    15643
75    22897
76    21697
77    16277
78    21334
79    25727
80    22321
81    27271
82    26172
83    21318
84    16731
85    17945
86    20440
87    13070
88    29274
89    10817
90    10989
91    21775
92    22642
93    25212
94    12965
95    23436
96    20928
97    23205
98    25774
99    25510
Length: 300, dtype: int64

### Step 6. Ops it seems it is going only until index 99. Is it true?

Yes

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
pd.concat([df.bedrs, df.bathrs, df.price_sqr_meter]).reset_index(drop = True).tail()

295    23436
296    20928
297    23205
298    25774
299    25510
dtype: int64