# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

### Step 4. How many products cost more than $10.00?

In [3]:
change = lambda x:float(x[1:-1])
df.item_price = df.item_price.apply(change)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [5]:
df[df.item_price > 10.00].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [6]:
len(df[df.item_price > 10.00])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [7]:
df['price'] = df['item_price']/df['quantity']
df[['item_name', 'price']].head()

                               item_name  price
0           Chips and Fresh Tomato Salsa   2.39
1                                   Izze   3.39
2                       Nantucket Nectar   3.39
3  Chips and Tomatillo-Green Chili Salsa   2.39
4                           Chicken Bowl   8.49

### Step 6. Sort by the name of the item

In [8]:
df.sort_values('item_name').head()

,order_id,quantity,item_name,choice_description,item_price,price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [9]:
df.quantity[df.item_price == df.item_price.max()]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [10]:
df[df.item_name == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [11]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [12]:
#df.set_index('order_id', inplace = True)
temp = df[df.choice_description == '[Coke]'].groupby('order_id')['quantity'].sum()
temp[temp > 1].count()

21